<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.common.dev.js"></script>
    <title>Document</title>
    <style>
        .red{
            color:red
        }
        [v-cloak]{
            display: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- <div v-if="isSure">你好</div>
        <div v-else>再见</div> -->

        <!-- <div v-show="isSure">你好</div>
        <div v-else>再见</div> -->

        <!-- <div class="item" v-for="item in list" :key="index">
            <p>{{item}}</p>
        </div> -->

        <!-- <div class="item" v-for="item in people" :key="index">
            <p>{{item.name}}-{{item.age}}</p>
        </div> -->

        <!-- <div class="msg">
            <span>{{message}}</span><br />
            <span v-text="message"></span><br />
            <span v-html="newMessage"></span>
        </div> -->

        <!-- <div class="count">
            <p>{{count}}</p>
            <button v-on:click="add">+</button>
            <button @click="reduce">-</button>
        </div> -->


        <!-- 双向数据绑定 -->
        <!-- <div class="model">
            <p>{{message}}</p>
            <p>
                v-model:
                <input type="text" v-model="message" />
            </p>
        </div> -->

        <!-- <div class="pic"> -->
            <!-- v-bind 绑定属性 -->
            <!-- <img v-bind:src="imgSrc" alt=""> -->
            <!-- v-bind  缩写 -->
            <!-- <img :src="imgSrc" alt=""> -->
        <!-- </div> -->

        <!-- <div v-on:click="changeColor" v-bind:class="isRed ? 'red' : ''">你好世界！</div> -->
        <!-- <div v-on:click="changeColor" v-bind:class="{red : isRed}" :class="[className1,className2]">你好世界！</div> -->

        <!-- <div v-pre>{{message}}</div> -->

        <!-- <div v-cloak>{{message}}</div> -->

        <!-- v-once   数据被渲染了一次之后，就再也不会改变了 -->
        <!-- <div v-once>{{message}}</div>
        <input type="text" v-model="message" /> -->

        

    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                className1: 'active',
                className2: 'wrapper',
                message: 'Hello World',
                newMessage: '<h2>Hello Vue</h2>',
                imgSrc:'https://dss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3042085444,1076479703&fm=26&gp=0.jpg',
                isSure: false,
                isRed:false,
                list: ['a', 'b', 'c', 'd'],
                people: [
                    { name: '张三', age: 18 },
                    { name: '李四', age: 19 },
                    { name: '王五', age: 20 }
                ],
                count: 0
            },

            methods:{
                add(){
                    // console.log('add');
                    this.count++
                },
                reduce(){
                    this.count--
                },
                changeColor(){
                    this.isRed = !this.isRed
                }
            },

            beforeCreate() {
                console.log('beforeCreate');
            },

            created() {
                console.log('created');
            },

            beforeMount() {
                console.log('beforeMount');
            },

            mounted() {
                console.log('mounted');
            },

            beforeUpdate() {
                console.log('beforeUpdate');
            },

            Updated() {
                console.log('Updated');
            },

            beforeDestroy() {
                console.log('beforeDestroy');
            },

            destroyed() {
                console.log('destroyed');
            }

        })
    </script>
</body>

</html>