*
  margin 0;
  padding 0;

html, body
  font-size 30px;

section
  margin-bottom 0.667rem
  background #fff
  border-radius: 10px
  overflow hidden

.card
    padding 1rem;
    background #f5fafe
    &-wrapper
      width 100%
      .user-info
        width 100%
        font-size 0
        &__pic
          width 100%
          img
            width 100%
        &__desc
          padding .333rem .667rem
          .name
            font-size 1rem
            color #010101
            .sex
              width .8rem
              height .8rem
              display inline-block
              background-image url(./img/sexf.png)
              background-size contain
        &__world
          padding .6rem .667rem
          color white
          .world1
            font-size 1rem
            display inline-block
            padding 5px 20px 5px 20px
            margin-right 30px
            background-color #48a6fd
          .world2
            font-size 1rem
            display inline-block
            padding 5px 20px 5px 20px
            margin-right 30px
            background-color #1dca42
          .world3
            font-size 1rem
            display inline-block
            padding 5px 20px 5px 20px
            margin-right 30px
            background-color #fb8800
        &__inform
          padding 1rem 1rem
          .city
              font-size 1rem
              color #010101
            .target1
              width 1.5rem
              height 1.5rem
              display inline-block
              background-image url(./img/city.png)
              background-size contain
          .hobby
              font-size 1rem
              color #010101
            .target2
              width 1.5rem
              height 1.5rem
              display inline-block
              background-image url(./img/hobby.png)
              background-size contain
          .phone
              font-size 1rem
              color #010101
            .target3
              width 1.5rem
              height 1.5rem
              display inline-block
              background-image url(./img/phone.png)
              background-size contain
            
            